<!-- TOPO -->
<header class="topbar">
  <div class="brand">
    <div class="brand" routerLink="/home" style="cursor: pointer;">
      <div class="logo">
        <img src="Logo_LudosFera.png" width="300px" alt="Logo Ludosfera" />
      </div>
      <div class="brand-text">
        <h1>Ludosfera</h1>
        <p>Loja de jogos de tabuleiro</p>
      </div>
    </div>
  </div>

  <nav class="menu">
    <!-- BOTÃO DINÂMICO: Só aparece se não for a Home -->
    @if (isNotHome()) {
      <button class="btn-ini" type="button" routerLink="/home" style="cursor: pointer;">
      Início
      </button>
    }

    <button type="button" routerLink="/login" *ngIf="!estaLogado()">Login</button>
    <button type="button" routerLink="/jogos" style="cursor: pointer;">Jogos</button>
    <button type="button" routerLink="/cadastro" style="cursor: pointer;">Portal do Cliente</button>
    <button type="button" class="cart-button" routerLink="/carrinho" style="cursor: pointer;">🛒 Carrinho</button>

    

    <button *ngIf="estaLogado()" (click)="logout()">
      Logout
    </button>
  </nav>
</header>