body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  
  /* GRADIENTE NEON: Começa com o azul clássico do site no canto superior esquerdo 
     e termina com um rosa beeeem suave e difuso no canto inferior direito */
  background: linear-gradient(135deg, #0b0d1b 0%, #101428 50%, #1b1326 100%);
  
  /* Garante que o fundo não repita e cubra a tela toda mesmo se a página crescer */
  background-attachment: fixed; 
  background-size: cover;
  
  color: #ffffff;
}

button {
    cursor: pointer
}

.btn {
    border: none;
    border-radius: 12px;
    padding: 14px 20px;
    font-family: 'Press Start 2P', cursive;
    font-size: .7rem
}

.primary {
    background: #00CCFF;
    color: #0f1021
}

.outline {
    background: transparent;
    color: #fff;
    border: 2px solid #00CCFF
}