<h2 class="mb-4">Catálogo de Jogos</h2>

<div class="container">
  <div class="row">

    @for (obj of lista; track obj.id) {
      <div class="col-md-3 col-sm-6 mb-4">

        <div class="card h-100 shadow-sm"
             [routerLink]="['/jogo-detalhe', obj.id]"
             style="cursor: pointer;">

          <img src="produto/{{obj.id}}.jpg"
               class="card-img-top p-3"
               style="height: 200px; object-fit: contain;">

          <div class="card-body text-center">
            <h5 class="card-title">{{obj.nome}}</h5>
            <p class="card-text">R$ {{obj.preco}}</p>
          </div>

        </div>

      </div>
    }

  </div>
</div>


<!-- <h2>Catálogo de Jogos</h2>

<div class="cards-grid">

  @for (obj of lista; track obj.id) {
    <article class="feature-card col-md-3 col-sm-12 col-xl-2" width="400px" routerLink="/jogo-detalhe/{{obj.id}}" style="cursor: pointer;">
        <h4 class="card-title">{{obj.nome}}</h4>
        <img src="produto_{{obj.id}}.jpg" class="card-img-top" 
        width="150px" height="150px" (click)="(obj);"><br>

    </article>
}
</div> -->

 <!-- <div class="game-card" *ngFor="let jogo of jogos">

    <h3>{{ jogo.nome }}</h3>

    <p>{{ jogo.descricao }}</p>

    <strong>R$ {{ jogo.preco }}</strong>

    <br><br>

    <button [routerLink]="['/jogo', jogo.id]">
      Ver detalhes
    </button>

  </div>

</div> -->
