<div class="container mt-5 page-detalhe">
  <div class="row">
    
    <!-- LADO ESQUERDO: GALERIA -->
    <div class="col-sm-12 col-md-6 text-center">
      <div class="foto-principal-moldura">
        <img [src]="obj.fotos[indiceFoto]" class="img-fluid main-img">
      </div>

      <!-- Controles da Galeria -->
      <div class="d-flex align-items-center justify-content-center mt-3">
        <button class="btn-seta" (click)="mudarFoto(-1)">‹</button>
        
        <div class="miniaturas-container d-flex mx-2">
          @for (foto of obj.fotos; track $index) {
            <div class="miniatura-wrapper" [class.ativa]="$index === indiceFoto" (click)="indiceFoto = $index">
              <img [src]="foto" class="img-miniatura">
            </div>
          }
        </div>

        <button class="btn-seta" (click)="mudarFoto(1)">›</button>
      </div>
    </div>

    <!-- LADO DIREITO: INFORMAÇÕES -->
    <div class="col-sm-12 col-md-6">
      <h1 class="titulo-jogo">{{obj.nome}}</h1>
      <p class="sku-texto">ITEM ID: 000{{obj.id}}</p>
      
      <div class="categoria-box mt-3">
        <span class="tag-categoria">Tabuleiro</span>
        <span class="tag-categoria">Estratégia</span>
      </div>

      <div class="preco-container mt-4">
        <span class="preco-label">CUSTO:</span>
        <h2 class="preco-valor">R$ {{obj.preco | number:'1.2-2'}}</h2>
      </div>

      <button class="btn-comprar-ludos mt-4" (click)="comprar()">ADICIONAR AO INVENTÁRIO</button>
    </div>

  </div>

  <!-- SEÇÃO DE INFORMAÇÕES ABAIXO -->
  <div class="info-jogo-container">
    <h2 class="sessao-titulo">LOG DE DADOS</h2>
    <div class="sessao-linha"></div>

    <div class="detalhes-content">
      <p class="detalhe-longo">{{obj.detalhes_longos}}</p>

      <div class="row">
        <!-- Componentes -->
        <div class="col-md-6 sessao-componentes">
          <h4 class="subtitulo-detalhe">CONTEÚDO DA CAIXA:</h4>
          <ul class="lista-componentes">
            @for (item of obj.componentes; track $index) {
              <li>{{item}}</li>
            }
          </ul>
        </div>

        <!-- Ficha Técnica -->
        <div class="col-md-6">
          <h4 class="subtitulo-detalhe">ATRIBUTOS:</h4>
          <div class="ficha-tecnica">
            <p><span>IDADE:</span> {{obj.especificacoes.idade}}</p>
            <p><span>TEMPO:</span> {{obj.especificacoes.tempo}}</p>
            <p><span>JOGADORES:</span> {{obj.min_jogadores}} - {{obj.max_jogadores}}</p>
            <p><span>IDIOMA:</span> {{obj.especificacoes.idioma}}</p>
            <p><span>EDITORA:</span> {{obj.especificacoes.editora}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
</div>